.about-text-row1{
	color: #272727;
	font-family: "Raleway";
	font-size: 20px;
	font-weight: 500;
	line-height: 34px;
}

.about-text-row1-small{
	color: #000000;
	font-family: "Raleway";
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
}

.tex-row-2-box{
	background-color: #7c2c9e;
	opacity: 0.87;
	align-content: center;
	padding: 30px;
	top: 0;
	position: relative;
	z-index: 10;
/*width: 70%;*/
}

.grey-role{
	background-color: #f9f8f9;
	height: 20%;
	width: 84.2%;
	position: absolute;
	z-index: 0;
	margin-top: 2%;

}
.under-event{
	padding-top: 30px;
	color: #000000;
	font-family: "Raleway";
	font-size: 18px;
	font-weight: 500;
	line-height: 26px;
}

.func-center-under{
	display: none;
}


.func-center:hover{
	cursor: pointer;
}

.tex-row-2-title{
	color: #ffffff;
	font-family: "Raleway";
	font-size: 50px;
	font-weight: 500;
	line-height: 32px;
	padding-left: 3%;
}
.tex-row-2-small{
	color: #ffffff;
	font-family: "Raleway";
	font-size: 24px;
	font-weight: 500;
	line-height: 40px;
	width: 98%;
	padding-left: 5%;
	padding-top: 5%;
}
.row-3{
	padding-top: 60px;
	color: #000000;
	font-family: "Raleway";
	font-size: 28px;
	font-weight: 500;
	line-height: 32px;
	padding-bottom: 30px;
}
.row-5-box{
	margin-top: 20px;
	height: 262px;
	border: 3px solid #7f2da1;
	padding: 30px;
}
.row-5-text{
	color: #000000;
	font-family: "Raleway";
	font-size: 20px;
	font-weight: 600;
	line-height: 26px;
}
.text-purple{
	color: #7f2da1;
	font-family: "Raleway SemiBold";
}

.row-6{
	padding-top: 60px;
	color: #1b3412;
	font-family: "Raleway Light";
	font-size: 38px;
	font-weight: 300;
}

.row-7-text{
	color: #000000;
	font-family: "Raleway";
	font-size: 26px;
	font-weight: 700;
	line-height: 28px;
	padding-top: 20px;
	text-align: center;
}
.row-7-box{
	margin-top:20px;
	text-align: center;
	margin-top: 60px;
}
.row-8{
	color: #5b108a;
	font-family: "Raleway SemiBold";
	font-size: 20px;
	font-weight: 600;
	line-height: 34px;
	margin-top: 60px;
}
.row-9{
	color: #272727;
	font-family: "Raleway SemiBold";
	font-size: 16px;
	font-weight: 500;
	line-height: 24px;
	padding-top: 20px;
	padding-bottom: 10px;
	border-bottom:1px solid #ebe9e9;;
}

/* creation territory*/
.tex-row-2-box-cr{
	background-color: #7c2c9e;
	opacity: 0.87;
	align-content: center;
	padding: 70px;
}

.tex-row-2-title-cr{
	color: #ffffff;
	font-family: "Raleway";
	font-size: 50px;
	font-weight: 500;
	line-height: 32px;
}
.tex-row-2-small-cr{
	color: #ffffff;
	font-family: "Raleway";
	font-size: 24px;
	font-weight: 500;
	line-height: 40px;
	padding-top: 5%;
}

.about-text-row1-small-cr{
	color: #000000;
	font-family: "Raleway";
	font-size: 28px;
	font-weight: 500;
	line-height: 32px;
	/*margin-top: 60px;*/
}

.about-text-row1-small-2-box-cr{
	margin-top: 20px;
}
.about-text-row1-small-2-cr{
	display: inline-block;
	color: #272727;
	font-family: "Raleway Bold";
	font-size: 16px;
	font-weight: 700;
	line-height: 22px;
	text-align: center;
	word-wrap: break-word;
	padding: 10px;

}
.about-text-row1-small-2-cr{
	border: 1px solid #979797;
}
.about-text-row1-small-2-cr:first-child{
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}
.about-text-row1-small-2-cr:last-child{
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

.row-2-about{
	margin-top: 70px;
	color: #272727;
	font-family: "Raleway";
	font-size: 16px;
	font-weight: 500;
	line-height: 26px;
}

.task-boxes{
	border-radius: 4px;
	background-color: #f6f5f7;
	padding: 30px;
	font-family: "Raleway";
	font-size: 18px;
	font-weight: 500;
	line-height: 28px;
	height: 100%;

}
.task-boxes1{
	margin-top: 7px;
	padding-right: 3px!important;
	padding-left: 3px!important;

}



.row-7-text1{
	color: #000000;
	font-family: "Raleway SemiBold";
	font-size: 16px;
	font-weight: 500;
	line-height: 26px;
	text-align: center;
}

.cr-grey{
	padding-left: 30px;
	padding-right: 30px;
	background-color: #f9f8f9;
	padding-top: 60px;
	padding-bottom: 20px;
	margin-top: 30px;
}