.contacts-small-text{
	opacity: 0.5;
	color: #000000;
	font-family: "Raleway";
	font-size: 15px;
	font-weight: 400;
}

.contacts-adress-text{
	margin-bottom: 10px;
	color: #000000;
	font-family: "Raleway";
	font-size: 25px;
	font-weight: 400;
	line-height: 36px;
	display: inline-block;
	width:  220px;
}

.contacts-adress-text-tel{
	margin-bottom: 10px;
	color: #000000;
	font-family: "Raleway";
	font-size: 25px;
	font-weight: 400;
	line-height: 36px;
	display: inline-block;
	width: 100%;
}

.contacts-info-block{
	position: relative;
}

.contacts-adress-text-mail{
	color: #cd1650;
	font-family: "Raleway";
	font-size: 24px;
	font-weight: 400;
	line-height: 32px;
	width:65%;
}

.contacts-data-title-text{
	color: #000000;
	font-family: "Raleway";
	font-size: 24px;
	font-weight: 500;
	line-height: 28px;
}

.contacts-role-info{
	padding-left: 30px;
	display: none;
}

.contacts-role-name{
	color: #000000;
	font-family: "Raleway";
	font-size: 16px;
	font-weight: 400;
	line-height: 60px;
	padding-top: 20px;
	display: inline-block;
}

.contacts-role-name:hover{
	color: #5b108a;
	font-size: 16px;
	font-weight: 700;
	cursor: pointer;
}

.contacts-role-name-active{
	color: #5b108a;
	font-size: 16px;
	font-weight: 700;
}

.contacts-role-tel{
	color: #000000;
	font-family: "Raleway";
	font-size: 14px;
	font-weight: 400;
}

.contacts-role-mail{
	color: #7c2c9e;
	font-family: "Raleway";
	font-size: 13px;
	font-weight: 400;
}

.adress-image{
	display: inline-block;
	position: absolute;
	right: 20px;
}

.adress-image img{
	width: 20px;
}

.tel-image{
	display: inline-block;
	position: absolute;
	right: 20px;
}

.tel-image img{
	width: 15px;
	}
.img-cont{
	display:inline-block;
	padding-right: 10px;
	}
.cont{
	/*display: block;*/
	vertical-align: middle;
}

.cont-text{
	/*display: block;*/
	vertical-align: middle;
}

	.cont-act{
		display: none;
	}


	.cont1{
	display:inline-block!important;
}
    .cont2{
		display:none!important;
		/*vertical-align: middle;*/
	}