
.find-doc{
  	outline: none;
    border-bottom: 1px solid #e2d5e7;
    border-left: none;
    border-right: none;
    border-top: none;
  	color: #6f3788;
  	font-family: "Raleway Light";
  	font-size: 17px;
  	font-weight: 300;
  	width: 311px;
  	background-image: url(../img/search.png);
    background-repeat: no-repeat;
    background-position: 270px;
    background-size: 15px;
}
.find-text{
    color: #424242;
    font-family: "Raleway Light";
    font-size: 30px;
    font-weight: 300;
}


.doc-block{
    display: inline-block;
}

.input::placeholder   {
    color: #6f3788;
    font-family: "Raleway";
   }

#find_doc::-webkit-input-placeholder {
    color: #6f3788;
   }
#find_doc[type="search"] {
    padding: 3px;
    background: #333;
    color: #053f38;
    border: 1px solid #ccc;
   }

   #find_doc[type="search"]::-webkit-input-placeholder {
    color: #6f3788;
   }

.find-doc[type="search"]::-moz-placeholder {
    color: #6f3788;
   }

.post-title{
    color: #000000;
    font-family: "Raleway SemiBold";
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    padding-left: 10px;
   }

.post-title:hover{
    color: #000000;
    text-decoration: none;
   }

.format{
   	text-transform: uppercase;
   }

.doc-parametrs-text{
    opacity: 0.5;
    color: #000000;
    font-family: "Raleway Regular";
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    padding-left: 36px;
    padding-bottom: 30px;
   }
