
@font-face {
    src: url("../fonts/Montserrat-Regular.ttf");
    font-family: "Montserrat";
}

#event .owl-dots{
	position:absolute;
	top: 10%;
	left:20px;
	width: 25px!important;
	vertical-align: middle;
}

#event{
	width: 100%;
	min-height:300px!important;
}
}

#event .owl-dot.active{
	align-content: center;
}

.event-promo-img{
	width: 100%;
	min-height:300px!important;
	max-height:700px!important;
}
#event .owl-dot span{
	display: inline-block!important;
	background-color: #ffffff!important;

}

#event .owl-dot.active span{
	background-color: #cd1650!important;
	width: 12px!important;
	height: 12px!important;
}

#event .owl-dot:after{
	content: url('../img/dot.png');
	padding-left: 10%;
}

#event .owl-dot:last-child:after{
	display: none;
}

#event .owl-dot.active:after{
	padding-left: 8%;
}

.no-margin{
	margin-right: 0px !important;
	margin-left: 0px !important;
}

.event-promo-img{
	width: 100%;
}
.event-block{
	width: 100%;
	min-height:300px;
}

#update{
	background-color: #f7f6f8;
}

.sort-text{
	margin-right: 60px;
	color: #272727;
	font-family: "Raleway";
	font-size: 18px;
	font-weight: 500;
	line-height: 34px;
	border-bottom: 3px solid transparent;
}

.sort-text:hover{
	border-bottom: 3px solid transparent;
	color: #8a32b0;
	border-bottom: 3px solid  #8a32b0;
	cursor: pointer;
}

.active-date{
	border-bottom: 3px solid transparent;
	color: #8a32b0;
	border-bottom: 3px solid  #8a32b0;
}

.sort-text:focus{
	border-bottom: 3px solid transparent;
	color: #8a32b0;
	border-bottom: 3px solid  #8a32b0;
	cursor: pointer;
}

.item-sort{
	position: relative;
	width: 100%;
	height: 392px;
	box-shadow: 0 0 10px #f6f4f6;
	border-radius: 3px;
	background-color: #7c2c9e;
	margin-top: 60px;
}

.item-sort-title{
	position: absolute;
	width: 90%;
	height: 204px;
	color: #ffffff;
	font-family: "Raleway";
	font-size: 22px;
	font-weight: 500;
	line-height: 34px;
	top: 30px;
	left:30px;
	word-wrap: break-word;
}

.item-sort-title:hover{
	text-decoration: none;
	color: #ffffff;
}

.date{
	position: absolute;
	bottom: 20px;
	left: 25px;
}
.date-dig{
	color: #ffffff;
	font-size: 34px;
	font-weight: 400;
	padding-right: 10px;
}

.month{
	color: #ffffff;
	font-family: "Raleway";
	font-size: 16px;
	font-weight: 500;
	line-height: 34px;
}

.post-image{
	width: 100%;
	min-height:300px;

}

.img-post{
	height: 700px;
	background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.post-head{
	padding-top: 60px;
	padding-bottom: 20px;
	color: #1b3412;
	font-family: "Raleway Light";
	font-size: 50px;
	font-weight: 300;
}

.post-content{
	color: #272727;
	font-family: "Raleway";
	font-size: 20px;
	font-weight: 500;
	line-height: 34px;
}
.info-block{
	position: relative;
	height: 500px;
	background-color: #8a32b0;
	font-family: "Raleway";

}


.info{
	position: relative;
	padding-left: 17%;
	top:8%;
}

.info-block-date-dig{
	display: inline-block;
	font-family: "Montserrat";
	color: #ffffff;
	font-size: 50px;
	font-weight: 400;

}
.info-block-date-dig-near{
	display: inline-block;
}

.year-month{
	position: absolute;
	top: 10px;
}

.info-block-date-week{
	color: #ffffff;
	font-size: 13px;
	font-weight: 700;
	line-height: 34px;
}

.info-block-date-year{
	color: #ffffff;
	font-size: 12px;
	font-weight: 500;
	line-height: 34px;
}

.info-block-date-dig-month{
	color: #ffffff;
	font-size: 18px;
	font-weight: 500;
	line-height: 34px;
}

.time{
	position: absolute;
	display: inline-block;
	padding-left: 90px;
	color: #ffffff;
	font-family: Montserrat;
	font-size: 50px;
	font-weight: 400;
	right: 17%;
}

.adress-block{
	color: #ffffff;
	font-size: 18px;
	font-weight: 500;
	padding-top: 40px;
}

.pink-text{
	padding-top: 40px
}

.pink-text1{
	display: inline-block;
}

.pink-text2{
	display: inline-block;
	padding-left: 110px;
	position: absolute;
	right: 17%;

}

.p1{
	color: #f8115b;
	font-family: "Raleway Bold";
	font-size: 15px;
	font-weight: 700;
}
.p2{
	color: #ffffff;
	font-size: 20px;
	font-weight: 500;
	padding-left: 20px;
}

.places-block{
	padding-top: 40px;
	padding-bottom: 40px;
}
.places{
	color: #ffffff;
	font-size: 15px;
	font-weight: 500;

}
.send-button-event{
	text-align: center;
	padding-top:15px;
	padding-bottom:15px;
	padding-left:40px;
	padding-right:40px;
  	 width: 250px;
	height: 62px;
	box-shadow: 0 0 4px #67278e;
	border-radius: 100px;
	background-color: #f8115b;
	outline: 0 !important;
	border:none;
	color: white;
	font-size: 20px;
	margin-top: 30px;
}

.send-button-event1{
	text-align: center;
	padding-top:15px;
	padding-bottom:15px;
	padding-left:40px;
	padding-right:40px;
  	 width: 250px;
	height: 62px;
	box-shadow: 0 0 4px #67278e;
	border-radius: 100px;
	background-color: #f8115b;
	outline: 0 !important;
	border:none;
	color: white;
	font-size: 20px;
}

.send-button-event:hover{
	text-decoration: none;
	color: #ffffff;
	cursor: pointer;
}

.imd-par{
	padding-right: 10px;
}
.event-promo{
	min-height: 100px;
	max-height: 700px;
	background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.pink-event{
	color: #f8115b;
	font-family: "Raleway Bold";
	margin-top: 70px;
	text-transform: uppercase;
}

.pink-event-js{
	color: #f8115b;
	font-family: "Raleway Bold";
	text-transform: uppercase;
}