.school-block{
	border-radius: 5px;
	border: 1px solid #979797;
	background-color: #5b108a;
	margin-bottom: 20px;
}

.school-title{
	padding-top: 40px;
	padding-left: 20px;
}

.learn-text1{
	color: #000000;
	font-family: "Raleway Regular";
	font-size: 20px;
	font-weight: 400;
	line-height: 30px;
	padding-bottom: 20px;
}

.prog-block{
	border: 3px solid #7f2da1;
	padding: 30px!important;
	margin-left: 30px;
}

/*.post-single1{
	margin-left: 90px!important;

}*/

.prog-block1{
	border: 3px solid #7f2da1;
	padding: 30px!important;
}


.prog-block2{
	padding: 30px!important;
	font-family: "Raleway Bold";
	font-size: 18px;
	font-weight: 500;
	line-height: 26px;

}

.prog-pad{
	margin-top: 21px;
}

#event1{
	margin-bottom: 20px;
}

.event-center{
	text-align: center;
}

.learn-text4{
	color: #000000;
	font-family: "Raleway Bold";
	font-size: 18px;
	font-weight: 500;
	line-height: 26px;
}
.pink-block{
	background-color: #cd1650;
	color: #ffffff;
	font-family: "Raleway Bold";
	font-size: 24px;
	font-weight: 700;
	line-height: 32px;
	padding-top: 60px;
	padding-bottom: 60px;
}

.learn-btn{
	margin-top: 20px;
    text-align: center;
    margin-bottom: 20px;
}
.pink-block2{
	background-color: #5b108a;
	color: #ffffff;
	font-family: "Raleway Bold";
	font-size: 24px;
	font-weight: 700;
	line-height: 32px;
	padding-top: 60px;
	padding-bottom: 60px;
}
.school-title a{
	color: #ffffff;
	font-family: "Raleway Bold";
	font-size: 28px;
	font-weight: 700;
	line-height: 32px;
}

.school-title a:hover{
	color: #ffffff;
	text-decoration: none;
}

.school-content{
	padding-top: 20px;
	padding-left: 20px;
	color: #ffffff;
	font-family: "Raleway";
	font-size: 18px;
	font-weight: 500;
	line-height: 32px;
	padding-bottom: 20px;
}

.itema{
	background-color: transparent;
}

#sync3 .item .item-image{
	height: 100%;
	width: 322px;
	z-index: 10;
	position: relative;
}
#sync3 .item .item-body{
	position: absolute;
	right: 20%;
	top: 30%;
	height: 200px;
	width: 700px;

}

 #sync3 .item .item-body .item-content{
	color: #ffffff;
	font-family: "Raleway";
	font-size: 18px;
	font-weight: 500;
	line-height: 26px;
}

#sync3 .item {
	height: 508px;
	width: 100%;
	position: relative;

}

#sync3 .item .item-body .item-title{
	color: #ffffff;
	font-family: "Raleway Bold";
	font-size: 40px;
	font-weight: 700;
	line-height: 55px;
}


#sync3 .owl-dot{
	display: inline-block!important;
	line-height: 15px;
	vertical-align: middle;
}

#sync3 .owl-dot span{
	display: inline-block!important;
	background-color: #8d23bb!important;
	vertical-align: middle;

}


#sync3 .owl-dot:after{
	content: url('../img/dotsb.png');
	display: inline-block;
	vertical-align: middle;
	padding-bottom: 10px;
}

#sync3 .owl-dot:last-child:after{
    display: none;
}

#sync3 .owl-dot.active span{
	background-color: #cd1650!important;
	width: 12px!important;
	height: 12px!important;
}



.learn-box{
	display: flex;
}
.learn-item{
	background-color: #cd1650;
	border: 1px solid #979797;
	padding-top: 10px;
	padding-left: 3%;
	padding-right: 3%;
	color: #ffffff;
}

.learn-item:hover{
	background-color: #5b108a;
	color: #cd1650;
	cursor: pointer;
}

.active-learn{
	background-color: #5b108a!important;
	color: #cd1650!important;
}



.modul-text{
	font-family: "Raleway Light";
	font-size: 16px;
	font-weight: 300;
}

.modul-title{
	font-family: "Raleway Bold";
	font-size: 20px;
	font-weight: 600;
}

.modul-content-block{

}

.modul-content{
	max-width: 1300px;
}

.dop-text{
	opacity: 0.5;
	color: #000000;
	font-family: "Raleway";
	font-size: 14px;
	font-weight: 400;
	line-height: 23px;
	padding-top: 30px;
}

.back-grey{
	background-color: #f9f8f9;
	padding-top: 30px;
}
.modul-text-block{
	box-shadow: 0 0 4px #d7c7de;
	border-radius: 3px;
	background-color: #ffffff;
	padding: 20px;
	vertical-align: middle;
}
.modul-text-content{
	vertical-align: middle;
	}