.event-no{
	color: #aaaaaa;
	font-family: "Raleway";
	font-size: 16px;
	font-weight: 500;
}
.see-learn-link{
	border: 2px solid #7c2c9e;
	padding: 10px;
	color: #7c2c9e;
	font-family: "Raleway";
	font-size: 22px;
	font-weight: 500;

}
.see-learn-link-main{
	margin-top:20px;
}
.lich-event-box{
	box-shadow: 0 0 10px #f6f4f6;
	border-radius: 3px;
	border: 2px solid #7c2c9e;
	height: 372px;
	margin-top: 60px;
	position: relative;
	margin-bottom: 60px;
}

.lich-event-link:hover{
	text-decoration: none;
}
.lich-event-title{
	color: #7c2c9e;
	font-family: "Raleway";
	font-size: 22px;
	font-weight: 500;
	line-height: 34px;
	padding: 10%;
}
.date-lich{
	position: absolute;
	left: 20px;
	bottom: 0;
	color: #9350af;
}
.date-lich1{
	font-family: "Montserrat";
	font-size: 34px;
	font-weight: 400;
}
.date-lich2{
	font-family: "Raleway";
	font-size: 16px;
	font-weight: 500;
	line-height: 34px;
}

.lich-learn{
	color: #7c2c9e;
	font-family: "Raleway";
	font-size: 22px;
	font-weight: 500;
	line-height: 34px;
}
.lich-learn:hover{
	color: #7c2c9e;
}
.lich-learn-box{
	margin-top: 20px;
}

.learn-title-lich{
	margin-top: 60px;
}
