
@media screen and (max-width: 1850px)
{
  .info-block-date-dig
  {
    font-size: 30px;
  }
  .time
  {
    font-size: 30px;
  }
}



@media screen and (max-width: 1840px)
{
   #sync1 .item .item-body
  {
  right: 10%!important;

  }

}

@media screen and (max-width: 1760px)
{
  /* .post-single1
  {
    padding-left: 0!important;
    padding-right: 0!important;
  }*/
}


@media screen and (max-width: 1730px)
{
   .contacts-adress-text-mail {
    font-size: 20px!important;

}
}

@media screen and (max-width: 1400px)
{
  .contacts-adress-text {
    font-size: 20px!important;
}

.contacts-adress-text-tel {
    font-size: 20px!important;
}

.contacts-adress-text-mail {
    font-size: 20px!important;

}

}


@media screen and (max-width: 991px)
{

.no-m{
  padding-left: 0!important;
  padding-right: 0!important;
  margin-right: 0!important;
  margin-left: 0!important;
}

}
@media screen and (max-width: 991px)
{
  .contacts-adress-text {
    font-size: 25px!important;
}

.contacts-adress-text-tel {
    font-size: 25px!important;
}

.contacts-adress-text-mail {
    font-size: 25px!important;

}


.contacts-adress-text{
  width:  400px;
}
}

@media screen and (max-width: 1750px)
{
   #sync1 .item .item-body
  {
    right: 5%!important;
    height: 400px;
    width: 500px;
  }

  .slide-main
  {
    padding-left:90px;
    padding-right: 100px;
  }


}


@media screen and (max-width: 1720px)
 {
  .learn-item-home a
  {
    font-size: 23px;
  }


.text-pink
{
  font-size: 20px;
}

.home-news-link a
{
  font-size: 13px;
}


.contacts-adress-text
  {
    width: 225px!important;
  }

}

@media screen and (max-width: 1700px)
{
  #sync1 .item .item-body
  {
    right: 5%!important;
    height: 400px;
    width: 500px;
  }


  #sync3 .item .item-body{
    right: 5%!important;
    height: 400px;
    width: 500px;

}
}

@media screen and (max-width: 1600px)
{
  #sync1 .item .item-body
  {
    top: 20%!important;
    height: 800px;
    width: 500px!important;

  }


   #sync3 .item .item-body
  {
    top: 20%!important;
    height: 800px;
    width: 500px!important;

  }


}


@media screen and (max-width: 1500px)
{
  .tex-row-2-small-cr
  {
    font-size: 20px!important;
  }
  .tex-row-2-title-cr{
    font-size: 40px!important;
  }
}



@media screen and (max-width: 1453px)
{
  .time{
  right: 10%!important;
}

.info{
  padding-left: 10%!important;
}

 .pink-text2{
  right: 10%!important;

}
}


@media screen and (max-width: 1498px)
{
  /*.slider-pro{
  padding-right: 0!important;
}
*/

}


@media screen and (max-width: 1274px) {
    .sidenav
    {
      width: 0;
    }

    .sidenav1
    {
      width: 70px;
    }

    .content
    {
      padding-left: 70px
    }

    .my-toggler-button
    {
      display: block;
    }
}



@media screen and (min-width: 1273px)
 {
    .sidenav {width: 300px !important;}
    .sidenav1 {width: 0 !important;}
    .content{padding-left:300px!important}
    .black-background-on-menu{width: 0!important}
    .my-del-toggler-button
    {
      display: none!important;
    }
}

@media screen and (max-width: 990px)
{
  .create-box-home1
  {
    display: none;
  }
}

@media screen and (max-width: 1515px)
{
  .home-creation-link
  {
    width: 350px;
  }
}


@media screen and (max-width: 1106px)
{
  .home-tel
  {
    font-size: 20px;
  }
  .home-tel1
  {
    font-size: 20px;
  }
  .home-adress
  {
    font-size: 25px;
  }
}

@media screen and (max-width: 1145px)
{

   #sync1 .item .item-body{
      top: 15%!important;
      right: 3%!important;
      height: 500px!important;
      width: 400px!important;
  }

    #sync1 .item .item-image{
      height: 90%!important;
      width: 300px!important;
      z-index: 10;
      padding-left: 20px;
  }

   #sync3 .item .item-body{
      top: 15%!important;
      right: 3%!important;
      height: 500px!important;
      width: 400px!important;
    }

    #sync3 .item .item-image{
      height: 90%!important;
      width: 300px!important;
      z-index: 10;
      padding-left: 20px;
  }


  .item-pink{
    width: 100%;
    height:80%!important;
    bottom: 50px!important;
  }

}





@media screen and (max-width: 1095px)
{
  .text-pink
    {
      font-size: 20px!important;
    }
}




@media screen and (max-width: 1000px)
{

  .learn-item-home img
  {
  height: 80%;
  width: 10%;
  }
  .home-learn-box
  {
    flex-direction: column;
  }


  .learn-box{
    flex-direction: column;
}
  .learn-item-home
  {
    margin-bottom: 10px;
    padding-bottom: 0!important;
    height: 130px;
  }
}


@media screen and (max-width: 992px)
 {

  .prog-block1{
  margin-left: 30px!important;
  margin-bottom: 21px!important;
}
.parent{

  width:100%!important;
  /*height: 110px!important;
  overflow-x: scroll;*/
}
.child{

  height: 110px!important;
  overflow-x: scroll;
}
  .sp-thumbnail{
    padding-right: 15px;

  }
}



@media screen and (max-width: 990px)
 {

  .contacts-adress-text
  {
    width: 600px!important;
  }

  .home-tel
    {
      padding-top: 10px;
      text-align:left;
    }
  .home-tel1
  {
    text-align:left;
  }
  .home-mail
  {
    padding-top: 10px;
    text-align: left;
  }

  .ymaps-2-1-71-map{
    width:100%!important;
  }

  .tex-row-2-box-cr{
    margin-right: 90px;
  }

  .cr-grey{
    margin-right: 90px;
  }

.map{
  position: absolute;
  left: 0;
}
}






@media screen and (max-width: 990px)
{
  .news-small-home
  {
    display: none;
  }
}


.home-news-link
{
  text-align: center;
  width: 48%;
}


/*@media screen and (max-height: 800px) and (max-width: 2000px)
 {
   .menu-footer{
    top:660px;
  }
    .image-slide
    {
      height:660px!important;
    }
    .full
    {
      height:660px!important;}
    }
    .shadow-top
    {
        height:823px;
    }

}*/