#sync1 .item .item-image{
	height: 100%;
	width: 345px;
	z-index: 10;
	position: relative;
	padding-left: 20px;
}

#sync1 .item .item-body{
	position: absolute;
	right: 20%;
	top: 30%;
	height: 200px;
	width: 700px;	
}


.fixed-area{
	margin-top: 60px;
}

#sync1 .item .item-body .item-title{
	color: #ffffff;
	font-family: "Raleway Bold";
	font-size: 40px;
	font-weight: 700;
	line-height: 55px;
}
 
 #sync1 .item .item-body .item-content{
	color: #ffffff;
	font-family: "Raleway";
	font-size: 18px;
	font-weight: 500;
	line-height: 26px;
}
#sync2 .item {
	display: inline-block;
	position: relative;
	color: #7e1fa7;
	height: 360px;
	width: 100%;
}
#sync2 {
	position: relative;
}

#sync2 .item .item-image img{
	position: absolute;
	left: 5px;
	height: 360px;
	width: 228px;
}

#sync2 .item .item-title{
	position: absolute;
	right: 10px;
	font-size: 42px;
	font-weight: 700;
	width: 300px;
	text-align: right;
}

#sync1 .item {
	height: 508px;
	width: 100%;
	position: relative;

}

#sync2 .item {
	background: #ffffff;
}

#sync2 .item h1 {
	font-size: 18px;
}

#sync2 .current .item {
	background: #cd1650;
	color: #fff;
}
#sync2 .item:hover {
	cursor: pointer;
}

.owl-theme .owl-controls .owl-page {
	display: inline-block;
}

#sync1 .owl-dot{
	display: inline-block!important;
	line-height: 15px;
	/*vertical-align: middle;*/
}
#sync1 .owl-dots{
	line-height: 20px;
	vertical-align: middle;
}

#sync1 .owl-dot:after{
	content: url('../img/dotsb.png');
	display: inline-block;
	vertical-align: middle;
	padding-bottom: 10px;
}

#sync1 .owl-dot:last-child:after{
    display: none;
}



#sync1 .owl-dot span{
	display: inline-block!important;
	background-color: #8d23bb!important;
	
	vertical-align: middle;

}

#sync2 .owl-nav .owl-prev{
	position: absolute;
	top:0;

}

#sync2 .owl-nav .owl-next{
	position: absolute;
	right: 0;
	top:0;
}

#sync2 .owl-nav .owl-prev span{
	font-size: 200px;
	opacity: 0.5;
}

#sync2 .owl-nav .owl-next span{
	font-size: 200px;
	opacity: 0.5;
}

#sync1 .owl-dot.active span{
	background-color: #cd1650!important;
	width: 12px!important;
	height: 12px!important;
}



.owl-theme .owl-controls .owl-page span {
	background: none repeat scroll 0 0 #869791;
	border-radius: 20px;
	display: block;
	height: 6px;
	margin: 5px 7px;
	opacity: 0.5;
	width: 6px;
}


#sync1.owl-theme {
	position: relative;
}


.item-pink{
	position: absolute;
	width: 100%;
	height: 90%;
	border-radius: 5px;
	background-image: linear-gradient(46deg, #f1c7d4 0%, #8d23bb 100%);
	bottom: 0;
	z-index: 0;
}