
.border-col{
	border: 1px solid #ebe9e9!important;
	align-content: center;
}

.small-img{
	margin-left:15%;
	margin-top:60px;
	max-height: 70%;
	width:70%;
}

.news-block{
	width: 100%;
	max-height: 650px;
}

.news-link-block:hover{
	text-decoration: none;
}
.excerpt{
	margin-left:15%;
	margin-top:10%;
	width:70%;
	color: #272727;
	font-family: "Raleway";
	font-size: 18px;
	font-weight: 500;
	line-height: 26px;
}

.post-single1{
	padding-left: 90px;
	padding-right: 90px;
}

.news-dig{
	margin-left:15%;
	opacity: 0.5;
	color: #464646;
	font-size: 12px;
	font-weight: 500;
	line-height: 25px;
}

.news-dig-single{
	color: #464646;
	font-size: 16px;
	font-weight: 500;
	line-height: 25px;
}

.link-item{
	line-height: 45px;
	width: 36px;
	text-align: center;
}

.pagination{
	margin-top:60px;
	border-radius: 3px;
	border: 1px solid #ebd6dc;
}

.default:hover{
	background-color: #cd1650;
	text-decoration: none;
	color:#ffffff;

}

.default{
	color: #272727;
	font-size: 18px;
	font-weight: 500;
}

.active-l {
	font-size: 18px;
	font-weight: 500;
	background-color: #cd1650;
	text-decoration: none;
	color:#ffffff!important;
}

.active-l:first-child{
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}
.active-l:last-child{
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

.link-item:first-child:hover{
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}


.link-item:last-child:hover{
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}


.post-head-news{
	padding-bottom: 20px;
	color: #1b3412;
	font-family: "Raleway Light";
	font-size: 50px;
	font-weight: 300;
	padding-top: 50px;
}
.img-post-news{
	height: 81%;
	width: 100%;
}
.img-post-news-small{
	height: 80%;
	width: 100%;
}
.small-image-area{
	width: 80%;
	height:200px;

}
.minimized:hover {
  border: 3px solid #cd1650;
  cursor: pointer;
}

.news-content{
	color: #272727;
	font-family: "Raleway SemiBold";
	font-size: 20px;
	font-weight: 500;
	line-height: 34px;
	padding-top: 60px;
}

.other-news-text{
	padding-top: 60px;
	padding-bottom: 60px;
	color: #1b3412;
	font-family: "Raleway Light";
	font-size: 38px;
	font-weight: 300;
}

.slider-pro{
	margin-left: 0!important;
	margin-right: 0!important;
}

.slide-main{
	padding-right: 90px;
}
.post-single{
	padding-left:90px!important;
	padding-right: 90px!important;
}
.post-single-left{
	padding-left:90px!important;
}

.sp-thumbnail{
	max-height: 178px!important;
	width: 178px;
	margin-top: 0px!important;
	margin-bottom:20px!important;


}

.sp-thumbnails-container{
	padding-left: 50px;
	height: 700px !important;
}

.bx-wrapper{
	border: 0!important;

}

.bx-wrapper:hover{
	cursor: pointer;

}

#bx-pager-1{
    overflow: hidden;
}

#bx-pager{
    /*overflow: auto;*/
    /*padding-right: 15px;*/
}


.parent{
  overflow: hidden;
  width: 200px;
}
.child{
  margin-right: -50px;
  padding-right: 50px;
  overflow-y: scroll;

}