
@font-face {
    src: url(fonts/Raleway-ExtraLight.ttf);
    font-family: "Raleway ExtraLight";
}
@font-face {
    src: url(fonts/Raleway-ExtraBold.ttf);
    font-family: "Raleway ExtraBold";
}
@font-face {
    src: url(fonts/Ubuntu.ttf);
    font-family: "Ubuntu";
}
@font-face {
    src: url(fonts/Roboto-Medium.ttf);
    font-family: "Roboto";
}
@font-face {
    src: url(fonts/Raleway-Bold.ttf);
    font-family: "Raleway Bold";
}
@font-face {
    src: url(fonts/Raleway-Light.ttf);
    font-family: "Raleway Light";
}
@font-face {
    src: url(fonts/Raleway-SemiBold.ttf);
    font-family: "Raleway SemiBold";
}
@font-face {
    src: url(fonts/Raleway-Medium.ttf);
    font-family: "Raleway";
}
@font-face {
    src: url(fonts/Raleway-Regular.ttf);
    font-family: "Raleway Regular";
}
body{
    font-variant-numeric:lining-nums;
}

.logo{
    color: #ffffff;
    font-family:"Ubuntu";
    font-size: 27px;
    font-weight: 700;
    line-height: 26px;
    padding-left: 50px;
    width: 186px;
    padding-bottom: 50px;
}
.logo1{
    color: #ffffff;
    font-family:"Ubuntu";
    font-size: 27px;
    font-weight: 700;
    line-height: 10px;
    padding-left: 15px;
    width: 186px;
    padding-bottom: 50px;
}

.logo-link:hover{
  text-decoration: none;
}

.the-title{
    color: #2b2b2b;
    font-family: "Raleway Light";
    font-size: 50px;
    font-weight: 300;
    padding-bottom: 40px;
    padding-top: 50px;
}

.the-title2{
    color: #2b2b2b;
    font-family: "Raleway Light";
    font-size: 50px;
    font-weight: 300;
    padding-top: 67px;
}

.no-margin{
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.no-padding{
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.menu-body{
    background-image: url(img/menu.png);
    height:100%;

}

.menu-footer-text{
    padding-top: 10px;
    padding-left: 5px;
    color: #ffffff;
    font-family:"Roboto";
    font-size: 13px;
    font-weight: 400;
}

.sidenav{
    padding-top: 50px;
    height: 100%;
    width:300px;
    position: fixed;
    z-index: 1;
    left: 0;
    background-color: #8d23bb;
    overflow-x: hidden; 
    overflow-y: hidden; 
}

.sidenav1{
    padding-top: 50px;
    height: 100%;
    width:0;
    position: fixed;
    z-index: 1;
    left: 0;
    background-color: #8d23bb;
    overflow-x: hidden; 
    overflow-y: hidden; 
}

.menu-item-111 {
    padding-left: 9px!important;
    background-color: #66138b;
    padding-top: 7px!important;
}

.menu-item-111 a
{
  padding-top: 1px;
}

.menu-item-111 a:before
{
    content:url('img/lich.svg');
    display: inline-block;
    padding-right: 5px;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
}

.menu {
    display: block;
    list-style: none; 
    padding: 0!important;
     color: #ffffff;

}

ul.menu > li {
    position: relative;
    padding-left: 40px;



}

ul.menu > li > a {
    display: block;
    margin: 10px;
    text-decoration: none;
    font-family: "Raleway SemiBold";
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1.1px;
    padding-bottom: 20px;
    padding-top: 10px;
    text-transform: uppercase;
    width: 200px;
}

ul.menu > li > a:hover {
     color: #f8115b!important;
    cursor: pointer!important;
}
.current-menu-item a {
    color: #f8115b!important;
}
.current-page-item a {
    color: #f8115b!important;
}

ul.sub-menu {
    display: none;
    left: 0;
 /*   top: 63px;*/
    color:#ffffff;
    z-index: 500;
   /* width: 200px;
*/
}

ul.sub-menu > li {
    display: block;
    list-style: none;
    color: #ffffff!important;
    font-size: 15px;
    font-weight: 700;
    left: 0;
    line-height: 20px;
   /* padding-top: 20px;*/
    padding-bottom: 20px;


}

ul.sub-menu a{
    color: #ffffff;
    font-family: "Raleway SemiBold";
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 700;
}

ul.sub-menu a:hover{
    text-decoration: none;
    color: #f8115b;
}

ul.submenu > li > a {
    display: block;
    text-decoration: none;
    background-color: #66138b;
    font-family: "Raleway SemiBold";
    color:transparent;
    z-index: 1;
}

ul.submenu > li > a:hover {
    display: block;
    text-decoration: none;
    color: #f8115b;
    z-index: 1;
}

ul.submenu > li > a:hover{
    text-decoration: none;
    color: #f8115b;
}

ul.menu > li:hover > ul.sub-menu {
    display: block;
    color: #f8115b;
    z-index: 1;
}

.menu-footer{
    position: absolute;
    width: 100%;
    height: 127px;
    background-color: #5b108a;
    height: 14vh;
        top: 86.6vh;
}

.my-toggler-icon svg{
    padding-bottom: 5px;
}

.my-toggler-button{
    display: none;
    outline: 0 !important;
    z-index: 50;
    margin-top: 125px;
    position: fixed;
    left: 6px;
}

.menu-tog{
    background-color: #66138b;
    width: 70px;
    height: 70px;
}

.full{
    width: 100%;
    height: 86.6%;
}


.image-slide {
    height: 86.6%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.my-del-toggler-button{
    position: absolute;
    right: 0;
    outline: 0 !important;
    z-index: 50; 
    display: none; 
}

.my-del-toggler-button-icon{
    background-image: url(img/cross.png); 
}
.content{
    z-index: 0;
    padding-left: 300px;
    width:600px;
    min-width: 100%;
    background-color: #eeeeee;
    background-color: #ffffff;
}

.promo-image{
  position: absolute;
}

.big-index-image-content1{
    min-width: 100%;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center center;
}

.black-background-on-menu{
    width: 0;
    height: 100%;
    position: absolute;
    background-color: rgba(0,0,0,0.7);
    z-index: 40;
  }

.owl-pagination {
    position: absolute;
    right: 0;
    top: -50px;
}

.shadow-top-main-text{
    padding-top: 25%;
    word-wrap: break-word;
}

.shadow-top-main-text-text1{
    color: white;
    font-size: 70px;
    line-height: 40px;
    font-family: "Raleway ExtraLight";
    line-height: 70px;
}

.shadow-top-main-text-text2{
    color: white;
    font-size: 70px;
    line-height: 40px;
    font-family: "Raleway SemiBold";
}


.black-on-menu{
    display:none;
    height: 100%;
    position: absolute;
    background-color: rgba(0,0,0,0.7);
    z-index: 40;
}

.shadow-top{
    width: 100%;
    height: 86.6vh;
    background-size:cover;
    z-index: 1;
    background-image: linear-gradient(180deg, rgba(238, 238, 238, 0) 6%,  rgba(0, 0, 0, 0.8) 100%);
}

.shadow-top-main-text-small{
    padding-top: 20px;
    color: white;
    font-size: 20px;
    line-height: 25px;
    font-family: "Raleway ExtraLight";
}
.send-button-main{
    z-index: 20;
    font-size: 24px;
    font-weight: 700;
    box-shadow: 0 0 4px #67278e;
    border-radius: 100px;
    background-color: #8d2eb6;
    color: #ffffff;
    margin-top: 30px;
    font-family: "Raleway";
    text-align: center;
    width: 250px;
    vertical-align: middle;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.btn-a:hover{
    text-decoration: none;
}
.send-button-main-a{
    padding-top: 50%;
}

.span-btn{
    margin-left:50%;
}
.big-index-image-content{
    position: relative;
    background-repeat: no-repeat;
}

.main-pink-line{
    width: 100%;
    height: 135px;
    background-color: #f8115b;
    padding-left: 258px;
    padding-right: 0;
    position: relative;
    z-index: 3;
}

.dark-purple-line{
    width: 15%;
    position: absolute;
    border-right: 50px solid transparent;
    border-top: 135px solid #5b108a;
    display: inline-block;
    left: 0;
}

.dark-pink-line{
    -moz-box-sizing: border-box; /* Для Firefox */  
    box-sizing: border-box;
    width:70%;
    border-left: 50px solid transparent;
    border-bottom: 135px solid #cd1650;
    display: inline-block;
    position: absolute;
    right: 0;
    z-index: 1;
    vertical-align: middle;
    line-height: 135px;
}

.dark-pink-line-with-text{
    width: 17%;
    border-right: 30px solid transparent;
    border-top: 90px solid #cd1650;
    display: inline-block;
    position: absolute;
    z-index: 1;
    left: 30px;
    margin-top: 23px;
    vertical-align:30px;
}

.text-pink{
    position: absolute;
    top:35%;
    left:4%;
    width: 5%;
    z-index: 2;
    color: #ffffff;
    font-family: "Raleway";
    font-size: 24px;
    font-weight: 500;
    line-height: 26px;
}

#home-carousel .owl-dots{
     position:absolute;
     top: 30%;
     left:20px;
     width: 25px!important;
     vertical-align: middle;
}


#home-carousel .owl-dot.active{
  align-content: center;
}

#home-carousel .owl-dot span{
    display: inline-block!important;
    background-color: #ffffff!important;

}

#home-carousel .owl-dot.active span{
    background-color: #cd1650!important;
    width: 12px!important;
    height: 12px!important;
}

#home-carousel .owl-dot:after{
    content:url('../img/dot.png');
    padding-left: 10%;
}
#home-carousel .owl-dot:last-child:after{
    display: none;
}
#home-carousel .owl-dot.active:after{
    padding-left: 8%;
}


#home-carousel .owl-item img {
    background-size:fixed ;

}

.news-title-text{
    color: #1b3412;
    font-family: "Raleway";
    font-size: 48px;
    font-weight: 300;
    padding-left: 70px;
    padding-top: 50px;
  /*  padding-bottom: 50px;*/
}

.home-news-title{
    margin-left:15%;
    margin-top:10%;
    width:70%;
    color: #272727;
    font-family: "Raleway";
    font-size: 24px;
    font-weight: 500;
    line-height: 26px;
}

.home-news-excerpt{
    margin-left:15%;
    margin-top:5%;
    width:70%;
    color: #464646;
    font-family: "Raleway";
    font-size: 16px;
    font-weight: 500;
    line-height: 25px;
}

.home-news-excerpt2{
    margin-left:15%;
    margin-top:10%;
    width:70%;
    color: #272727;
    font-family: "Raleway";
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
}

 .rel{
    position: relative;
 }

.home-news-link {
    margin-top: 100px;
    margin-left: 30%;
    border: 2px solid #cd1650;
    padding: 10px 10px 10px 0px;
    text-align: center;
}
.home-news-link {
    color: #cd1650;
    font-family: "Raleway";
    font-size: 18px;
    font-weight: 500;

}

.home-news-a:hover {
    color: #cd1650;
    text-decoration: none;

}
.news-block1{
    width: 100%;
    max-height: 500px;
    min-height: 200px;
  
}

 .border-col-1{
  border-left: 1px solid #ebe9e9;
   /* border-bottom: 1px solid #ebe9e9;*/
 }


 .border-col-1:nth-child(1) {
     border-bottom: 1px solid #ebe9e9;
   }


    .border-col-1:nth-child(2) {
     border-bottom: 1px solid #ebe9e9;
   } 
.home-news-row{
    min-height: 830px;
}
.home-learn-box{
    display: flex;
    margin-top: 60px;
    width: 100%;
}
.learn-item-home{
    position: relative;
    font-family: "Raleway";
    font-size: 27px;
    font-weight: 400;
    height: 200px;
    padding: 5%;
    background-color: #ffffff;
    margin-right: 20px;
}
.home-learn-title a{
    color: #5b108a;
  }

  .home-learn-title a:hover{
    color: #5b108a;
  }

.home-learn-img{
    position: absolute;
    bottom: 0;
    right: 0;
  }
.grey-background{
    background-color: #f6f5f7;
  }
.post-single-first{
    padding-left: 90px!important;
   }
.map {
    width: 100%;
    height: 100vh;
}

.info-box{
    padding-top: 20px;
    padding-bottom: 60px;
    margin-left: 50px!important;
    margin-right: 0!important
}
.territiry-text{
    padding-left: 70px;
    color: #000000;
    font-family: "Raleway";
    font-size: 22px;
    font-weight: 400;
    line-height: 30px;
}
.territiry-text1{
    padding-top: 20px;
    padding-left: 70px;
    padding-bottom: 60px;
    width: 450px;
    opacity: 0.45;
    color: #000000;
    font-family: "Raleway";
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
}

.home-creation-link{
    margin-top: 100px;
    margin-left: 70px;
    border: 2px solid #cd1650;
    width: 350px;
    padding: 10px 50px 10px 50px;
}

.home-creation-link a{
    color: #cd1650;
    font-family: "Raleway";
    font-size: 18px;
    font-weight: 500;
}

.create-box-home1{
background-color: #f6f5f7;
}

.sq-box{
    position: absolute;
    right: 0;
}

.sq-1{
    border-left: 90px solid transparent;
    border-bottom:413px solid #8d23bb;
    position: absolute;
    width: 451px;;
    height: 413px;
    right: 0;
    display: inline-block;
    top:0;
    z-index: 2;

}

.sq-1-im{
    background-image: url('img/sq1.png');
    width: 100%;
    height: 100%;
    z-index: 10;
}

.sq-2{
    position: absolute;
    border-left: 90px solid transparent;
    border-bottom:413px solid #8d23bb;
    width: 451px;;
    height: 413px;
    right: 0;
    display: inline-block;
    top:250px;
}

.sq-3{
 
    height: 413px;
    -webkit-transform: skew(-14deg);
    -moz-transform: skew(-14deg);
    -o-transform: skew(-14deg);
    position: absolute;
    background-color: #8d23bb;
    width: 451px;;
    right: 400px;
    top: 70px;
}

.create-image{
  height: 100%;
  width: 100%;
}

.create-box-home
{
  word-wrap: break-word;
}

.log-form{
    margin-top: 20%;
    background-color: #ffffff;
    padding: 100px 100px 100px 100px;
    box-shadow: 0 0 44px #ddcde2;
    border-radius: 3px;
    width: 100%;
    position: relative;
}
.log-area{
    min-height: 100vh;
}
.sl1{
    position: absolute;
    width:83%;
    right: 0;
    z-index: 5;
}
.map-h{
    height: 397px;
}
.home-adress-box{
    display: flex;
    margin-top: 20px;
    width: 100%;
    padding-left: 90px;
}
.home-adress{
    color: #000000;
    font-family: "Raleway";
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
}
.home-tel{
    color: #000000;
    font-family: "Raleway";
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}
.home-tel1{
    color: #000000;
    font-family: "Raleway";
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}
.home-mail{
    color: #cd1650;
    font-family: "Raleway";
    font-size: 24px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
}
.slide-dig-event{
    padding-top: 2%;
    color: #420f62;
    font-family: "Raleway Light";
    font-size: 60px;
    font-weight: 300;
    line-height: 50px;
    font-variant-numeric:lining-nums;
    padding-left: 5%!important;
}

.slide-dig-event1{
    padding-bottom: 0;
    color: #420f62;
    font-family: "Raleway Light";
    font-size: 14px;
    font-weight: 300;
    display: inline-block;
    padding-left: 5%!important;
}

#home-carousel-event .owl-dots{
    position: absolute;
    margin-top: 0!important;
    left: 0!important;
    width: 14%;
    text-align: center;
}

.slide-text-event{
    display: inline-block;
    position: absolute;
    left:25%;
    top: 30%;
    vertical-align: middle;
    z-index: 5;
}

#home-carousel-event .owl-dot span{
    display: inline-block!important;
    background-color: #9c105e!important;

}

#home-carousel-event .owl-dot.active span{
    background-color: #420f62!important;
}

#home-carousel-event .owl-nav{
    position: absolute;
    left: 15%;
    top:5%;
}
#home-carousel-event .owl-nav .owl-next{
    outline: none;
}
#home-carousel-event .owl-nav .owl-prev{
    display: none;
}


#home-carousel-event .owl-nav .owl-next span{
    color: #420f62;
    opacity: 0.5;
    font-size: 40px;
    opacity: 0.2;
    padding-top: 20px;
}

.dark-pink-line-text{
    position: absolute;
    margin-left: 5%;
    z-index: 10;
    width:100%;
    right: 0;
}

.home-event-title{
    color: #ffffff;
    font-family: "Raleway ExtraBold";
    font-size: 26px;
    font-weight: 700;
}
.home-event-title:hover{
   color: #ffffff;
   text-decoration: none;
}
.territory-box{
    max-width:600px;
}

.partner-item{
    width: 20%;
    text-align: center;
}